// Navigation code here
.nav-header {
  width: 98%;
  background-color: @wild-sand;
  margin-left: 3rem;

  nav {
    text-align: center;
    font-family: @river-bend;
    border: @sea-shell;

    a {
      text-decoration: none;
      font-size: 2rem;
      padding: 1rem;
      margin: 1rem;
    }
  }

  h1 {
    text-align: center;
    font-size: 3rem;
    padding: 1.5rem 0;
  }
}
